.banner .swiper {
    width: 240px;
    height: 320px;
  }
  
  .banner .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .banner .swiper-slide:nth-child(1n) {
    /* background-color: rgb(206, 17, 17); */
    background-image: url('../../../assets/banner-books/book1.jpg');
  }
  
  .banner .swiper-slide:nth-child(2n) {
    /* background-color: rgb(0, 140, 255); */
    background-image: url('../../../assets/banner-books/book2.jpg');
  }
  
  .banner .swiper-slide:nth-child(3n) {
    /* background-color: rgb(10, 184, 111); */
    background-image: url('../../../assets/banner-books/book3.jpg');
  }
  
  .banner .swiper-slide:nth-child(4n) {
    /* background-color: rgb(211, 122, 7); */
    background-image: url('../../../assets/banner-books/book4.jpg');
  }
  
  .banner .swiper-slide:nth-child(5n) {
    /* background-color: rgb(118, 163, 12); */
    background-image: url('../../../assets/banner-books/book5.jpg');
  }